{{ define "main" }}

<h1>Support Engineer Exercise</h1>


<h1> Rank your 5 favorite, and 5 least favorite, activities from this list: https://gist.github.com/fool/b0f254ff8c72a5765b6a9138249789d6 </h1>

<p> My 5 Favorite Activities from the List:
* Debug a customer's build using a programming language and framework that you've never seen before
* Manage a Support team
* Help train and onboard new support teammates
* Submit bug reports and potentially bug fixes to closed and open source projects that Netlify maintains on GitHub
* Work with the development team to help design a new feature based on feedback from customers

My 5 Least Favorite Activities from the List:
* Respond to Netlify customers on Twitter
* Engage multiple users at once via chat to answer their questions and troubleshoot problems
* Work with prospective customers to explain our service and the pricing model
* Receive occasional phone calls requesting support from our highest-value customers
* Help manage communications during a service outage </p>


<h1> What is your favorite thing about providing technical support? </h1>

<p> My favorite thing about providing technical support is the process of figuring out the root of a problem and working towards finding the solution from there. I love knowing that I helped solve a problem that was causing someone frustration, because knowing that that person is feeling better helps me to feel accomplished. </p>

<h1> What did you think of our service during the time you used it?  Provide either some constructive criticism or some points that impressed you.  Be honest!  “It sucked” isn’t a wrong answer unless you don’t elaborate and provide some constructive criticism ;) </h1>

<p> </p>

<h1> Talk about how you made your site and why you chose the tools you did.  Briefly explain a challenge you experienced in setting up this site and how you solved it. </h1>

<p> </p>

<h1>Provide a link to documentation for a technical/developer-focused product, which you think are well done, and briefly explain why you think they are well done. </h1>

<p>I’ve been using Nightwatch as the end-to-end testing solution for automation tests at my current role and have found the API Reference documentation (http://nightwatchjs.org/api) on their website to be well done. It’s simple and easy to navigate, yet has everything that you would need available in each section. For example, if you click the “Expect” section, all terminologies that use “expect” appear in the sidebar so you can easily see each option, yet you can either click a specific terminology or scroll down through the page to see detailed information on all of the options that use “Expect.” </p>


<h1> Why do you think SSL/HTTPS is important? </h1>

<p> In my opinion, SSL/HTTPS is important for three main reasons: 1) protecting the security and privacy of a website’s users, 2) ensuring trust between a user and that website (there’s something to be said about seeing that little green lock symbol in the URL bar), and 3) keeping that website as usable/findable as possible.

Not only is SSL/HTTPS important to protect the privacy and security of a website’s users, but it’s also important to develop trust between the user and that website. As someone who goes to many daifferent websites daily, there’s something comforting to be said about the little green lock next to the website’s URL. </p>

<h1> Explain, in a couple of paragraphs, what you think 2 major challenges around DNS configuration are for less-technical internet end-users.</h1>
<p> </p>

<h1> * A customer writes in saying their “site won’t build”.  Compose:
    * your best short (2-paragraph) customer-facing answer, 
    * without any additional data, 
    * that could be useful in the generic case, 
    * but would also lead to a customer providing a more actionable response. </h1>

<p> Hello Mr. Smith,

Thank you for reaching out to us at Netlify! I’m really sorry to hear that your site won’t build, that must be incredibly frustrating for you. I’d love to do anything I can to help you!

In order for me to get to the bottom of this issue, is there any way that you can tell me exactly what it is that is happening for you? When you say your site won’t build, is there an issue with the initial set-up process, or are you having a hard time getting updates pushed to your site? Any information that you can provide here would be valuable as I want to get this issue fixed as soon as possible.

Thank you so much in advance for your time!

All the best,
Lis Huber | Support Engineer @ Netlify</a>!
</p>

{{end}}
