<!DOCTYPE html>
<html>
<title>Elisabeth Exercise</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px">
  <h1 class="w3-margin w3-jumbo">Elisabeth Huber</h1>
  <p class="w3-xlarge">Support Engineer Exercise</p>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>Question 1</h1>
      <h5 class="w3-padding-32">Rank your 5 favorite, and 5 least favorite, activities from this list: https://gist.github.com/fool/b0f254ff8c72a5765b6a9138249789d6</h5>

      <p class="w3-text-grey">
                                My 5 Favorite Activities from the List:
                                <ul>
                                  <li>* Debug a customer's build using a programming language and framework that you've never seen before</li>
                                  <li>* Manage a Support team</li>
                                  <li>* Help train and onboard new support teammates</li>
                                  <li>* Submit bug reports and potentially bug fixes to closed and open source projects that Netlify maintains on GitHub</li>
                                  <li>* Work with the development team to help design a new feature based on feedback from customers</li>
                                </ul>

                                My 5 Least Favorite Activities from the List:
                                <ul>
                                  <li>* Respond to Netlify customers on Twitter</li>
                                  <li>* Engage multiple users at once via chat to answer their questions and troubleshoot problems</li>
                                  <li>* Work with prospective customers to explain our service and the pricing model</li>
                                  <li>* Receive occasional phone calls requesting support from our highest-value customers</li>
                                  <li>* Help manage communications during a service outage </li>
                                </ul>
                               </p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Question 2</h1>
      <h5 class="w3-padding-32">What is your favorite thing about providing technical support?</h5>

      <p class="w3-text-grey">My favorite thing about providing technical support is the process of figuring out the root of a problem and working towards finding the solution from there. I love knowing that I helped solve a problem that was causing someone frustration, because knowing that that person is feeling better helps me to feel accomplished.</p>
    </div>
  </div>
</div>
  
<!-- Third Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Question 3</h1>
      <h5 class="w3-padding-32">What did you think of our service during the time you used it?  Provide either some constructive criticism or some points that impressed you.  Be honest!  “It sucked” isn’t a wrong answer unless you don’t elaborate and provide some constructive criticism ;)</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>

<!-- Fourth Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Question 4</h1>
      <h5 class="w3-padding-32">Talk about how you made your site and why you chose the tools you did. Briefly explain a challenge you experienced in setting up this site and how you solved it.</h5>

      <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
  
<!-- Fifth Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Question 5</h1>
      <h5 class="w3-padding-32">Provide a link to documentation for a technical/developer-focused product, which you think are well done, and briefly explain why you think they are well done.</h5>

      <p class="w3-text-grey">I’ve been using Nightwatch as the end-to-end testing solution for automation tests at my current role and have found the API Reference documentation (http://nightwatchjs.org/api) on their website to be well done. It’s simple and easy to navigate, yet has everything that you would need available in each section. For example, if you click the “Expect” section, all terminologies that use “expect” appear in the sidebar so you can easily see each option, yet you can either click a specific terminology or scroll down through the page to see detailed information on all of the options that use “Expect.” </p>
    </div>
  </div>
</div>
  
<!-- Sixth Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Question 6</h1>
      <h5 class="w3-padding-32">Why do you think SSL/HTTPS is important?</h5>

      <p class="w3-text-grey">In my opinion, SSL/HTTPS is important for three main reasons: 1) protecting the security and privacy of a website’s users, 2) ensuring trust between a user and that website (there’s something to be said about seeing that little green lock symbol in the URL bar), and 3) keeping that website as usable/findable as possible.

Not only is SSL/HTTPS important to protect the privacy and security of a website’s users, but it’s also important to develop trust between the user and that website. As someone who goes to many daifferent websites daily, there’s something comforting to be said about the little green lock next to the website’s URL. </p>
    </div>
  </div>
</div>
  
<!-- Seventh Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Question 7</h1>
      <h5 class="w3-padding-32">Explain, in a couple of paragraphs, what you think 2 major challenges around DNS configuration are for less-technical internet end-users.</h5>

      <p class="w3-text-grey">I’ve been using Nightwatch as the end-to-end testing solution for automation tests at my current role and have found the API Reference documentation (http://nightwatchjs.org/api) on their website to be well done. It’s simple and easy to navigate, yet has everything that you would need available in each section. For example, if you click the “Expect” section, all terminologies that use “expect” appear in the sidebar so you can easily see each option, yet you can either click a specific terminology or scroll down through the page to see detailed information on all of the options that use “Expect.” </p>
    </div>
  </div>
</div>

<!-- Eighth Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Question 8</h1>
      <h5 class="w3-padding-32">Explain, in a couple of paragraphs, what you think 2 major challenges around DNS configuration are for less-technical internet end-users.</h5>

      <p class="w3-text-grey"> </p>
    </div>
  </div>
</div>  

<!-- Ninth Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>Question 9</h1>
      <h5 class="w3-padding-32">* A customer writes in saying their “site won’t build”.  Compose:
                                  * your best short (2-paragraph) customer-facing answer, 
                                  * without any additional data, 
                                  * that could be useful in the generic case, 
                                  * but would also lead to a customer providing a more actionable response.</h5>

      <p class="w3-text-grey"> Hello Mr. Smith,

                              Thank you for reaching out to us at Netlify! I’m really sorry to hear that your site won’t build, that must be incredibly frustrating for you. I’d love to do anything I can to help you!

                              In order for me to get to the bottom of this issue, is there any way that you can tell me exactly what it is that is happening for you? When you say your site won’t build, is there an issue with the initial set-up process, or are you having a hard time getting updates pushed to your site? Any information that you can provide here would be valuable as I want to get this issue fixed as soon as possible.

                              Thank you so much in advance for your time!

                              All the best,
                              Lis Huber | Support Engineer @ Netlify</p>
    </div>
  </div>
</div>  

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Quote of the day: live life</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
 </div>
 <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else { 
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
